label {
    display: inline-block;
    width: 3.5em;
    margin: 0.25em;
}
button {
    margin: 0.25em;
}
#notification {
    float: right;
    background: #F04532;
    color: #ffffff;
    padding: 0.5em 2em 0.5em 2em;
    margin: 1em;
    display: none;
    position: absolute;
    top: 0;
    right: 0;
}
#list span {
    display: inline-block;
    width: 10em;
}